@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


img.logo {
  background-color: #d4e6f2;
}

/*trying to get rid of white strip near the nav bar*/
nav {
  border-bottom: none;
  margin: 0;
  padding: 0;
}

hr {
  display: none;
}

body {
  margin: 0;
  padding: 0;
}
